.header{
    background-color: #1b1b1b;
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

    margin-left: 50px;
}

.header a { 
    display: flex;
    align-items: center;
}

.title-group a{
    color: white;
}

.material-icons{
    padding-right: 10px;
    color: white;
}

.header i{
    padding-left: 25px;
    margin-left: 25px;
    border-left: 1px solid white;
}